@font-face {
  font-family: 'Droid Sans';
  font-style: normal;
  font-weight: bold;
  src: local('Droid Sans'), url('http://playground.html5rocks.com/samples/html5_misc/Droid_Sans.ttf') format('truetype');
}

#instructions {
  display: block;
  position: absolute;
  width: 100%;
  text-align: center;
  top: 50%;
  margin-top: -100px;
  color: black;
  opacity: 0.6;
  font-size: 24px;
}

#info {
  float: left;
}

#info a {
  color: #ddd;
}

#container {
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: white;
}

#canvas-container {
  width: 800px;
  height: 600px;
  margin: auto;
  position: relative;;
  top: 50%;
  margin-top: -300px;
  background-color: white;
  box-shadow: 0px 5px 10px #888888;
}
#canvas-copy {
  opacity: 0.05;
  -webkit-transform: scaleY(-1);
  margin-top: -6px;
}

#canvas3copy, #canvas4copy, #canvas5copy {
  margin-top: 300px;
}

#controls {
  position: absolute;
  left: 0px;
  height: 100%;
  width: 200px;
  overflow: scroll;
  background-color: rgba(0,0,0,0.1);
  opacity: 0.6;
  box-shadow: 0px 5px 10px #000;
  z-index: 10;
}

#controls * {
  display: block;
  margin: 15px 30px;
}

#controls .palette {
  margin: 0px 0px;
}

#controls .palette * {
  border-radius: 25px;
  height: 24px;
  width: 140px;
  text-align: center;
}

#brush {
  position: absolute;
  top: 0px;
  right: 0px;
  height: 100%;
  width: 200px;
  background-image: url("../brush.jpg");
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  z-index: 10;
}

#brush:hover {
  position: absolute;
  top: 0px;
  right: 0px;
  height: 100%;
  width: 200px;
  background-image: url("../brush2.jpg");
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  z-index: 10;
}
